* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #f0f4fe;
  --secondary: #f6f6f6;
  --Tertiary: #262626;
  --Quaternary: #595959;
  --Quinary: #ffffff;

  --max-content-width: 1348px;
}

body {
  background-color: var(--secondary);
}

.main-navigation {
  height: 4.9rem;
  display: flex;
  align-items: center;
}

.main-navigation__left {
  border-right: 1px solid #f0f1f6;
  background-color: var(--Quinary);
  height: 100%;

  display: flex;
  align-items: center;
}

.main-navigation__right {
  height: 100%;
  background-color: var(--Quinary);
  padding: 0 2rem;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.8rem;
}

.main-navigation__logo {
  padding: 0 2rem;

  display: flex;
  gap: 1rem;
}

.main-navigation__logo h1 {
  font-size: 2rem;
}

.main-navigation__logo span {
  color: #ff447c;
}

.main-navigation__search {
  border: 1px solid #cdcfd4;
  border-radius: 0.38rem;
  margin-left: 2rem;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.main-navigation__search span {
  width: 55px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation__search input {
  width: 200px;
  height: 35px;
  border: 0;
  outline: none;
  padding: 0 5px;
}

.main-navigation__profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.main-navigation__profile div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.main-navigation__profile-notification,
.main-navigation__profile-image {
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation__profile-notification {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
}

.main-navigation__profile-image {
  width: 2.3rem;
  height: 2.3rem;

  align-items: start;
}

.main-navigation__profile-details {
  display: flex;
  align-items: center;

  gap: 0.8rem;
}

/*===========================================================*/
/* ------- Product table -----*/

.product-container {
  max-width: var(--max-content-width);
  min-width: 880px;

  margin: 2.5rem auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
}

.table-header,
.table-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.table-header span:first-child,
.table-row span:first-child {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.table-body {
  background: var(--Quinary);
  padding: 0 8px;
  border-radius: 15px;

  min-height: 37.6rem;
  max-height: 37.6rem;

  overflow-y: scroll;
}

.table-row {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.table-row:last-child {
  border: none;
}

.table-header {
  font-weight: 500;
  color: #595959;
  background-color: var(--primary);
  margin-bottom: 20px;

  height: 44px;
}

.table-cell {
  font-size: 12px;
  color: var(--Tertiary);
  flex: 1;
  padding: 10px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: box;
  box-orient: vertical;
  max-height: 3rem;
  line-height: 1.5em;
}

.product-title {
  font-size: 18px;
  font-weight: 500;
  color: #191635;
  margin: 2rem;
}

#roduct-header__img {
  flex: content;
}

#product-img {
  flex: none;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 4px;

  background-color: var(--primary);
  padding: 0;
  margin-right: calc(11.5% - 4.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-data {
  flex-direction: column;
}
